#intro {
    width: 100%;
    height: calc(100vh - 66px);
    color: white;
}

#intro {
    height: calc(100vh - 4rem);
    width: 100vw;
    max-width: 75rem;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.g-bg {
    position: absolute;
    top: -6rem;
    right: 0;
    z-index: -1;
    object-fit: cover;
    height: 100vh;
}

.introContent {
    width: 100vw;
    height: 100vh;
    padding: 2rem;
    font-size: 3rem;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    margin-top: 6rem;
}

.hello {
    font-size: 1.75rem;
    font-weight: 300;
}

.introName {
    color: yellow;
}

.introPara {
    font-size: medium;
    font-weight: 100;
}

.btn {
    width: 200px;
    height: fit-content;
    background-color: white;
    margin: 1rem 0;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
    font-size: large;
    font-weight: bold;
}
.btn:hover {
    background-color: #e4e2e2;
}

.btnImg {
    object-fit: cover;
    margin: 0 0.25rem;
    height: 1rem;
}

@media screen and (max-width: 840px) {
    .g-bg {
        right: -40vw;
    }
    .introContent {
        font-size: 10vw;
    }
    .hello {
        font-size: 4.5rem;
    }
    
}